html{
  font-family:'Courier New', Courier, monospace;
}
ul,li {
    size:18px;
}
.accordion {
  font-family: 'Courier New', Courier, monospace;
    color: #292828;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    font-size: medium;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  .active, .accordion:hover {
    background-color: #f48c6d;
  }
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
  h1{
    color: #e04313;
  }
  h3{
    color: #d33c16;
  }
  a{
    color: #e04313;
  }
  a:hover{
    letter-spacing: 2px;
    size: 20px;
  }
  a:visited{
    color: #30776b;
  }